<!DOCTYPE html>
<html>
<head >
	<title>This is my Homepage</title>
</head>
<body style="background-color: magenta">
	<h1>Hey!This is heading h1</h1>
	<h2>Hey!This is heading h2</h2>
	<h6>Hey!This is last heading you will find in html</h6>
	<p>This is paragraph tag</p>
</body>
</html>
<%= link_to 'Home',root_path %>